@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: 0;
}

:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);/*Fundo section mais escuro*/
    --very-light-gray: hsl(0, 0%, 98%);/*Fundo section 1*/
    --white: hsl(0, 0%, 100%);
}

html {
    font-size: 100%;
}

body {
    font-family: "Public Sans", sans-serif; /*Weights: 300, 400, 700*/
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--grayish-blue);
}

a {
    text-decoration: none;
    color: var(--grayish-blue);
    font-size: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

button {
    display: block;
    background: pink;
    height: 40px;
}

div#header-bg {
    background: var(--white);
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    
}

.nav ul li {
    margin: 10px;
}

.nav a {
    padding: 10px 0;
}

.nav a:hover {
    border-bottom: 3px solid var(--lime-green);
}

.button {
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    font-family: inherit;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--white);
    padding: 0 30px;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}

div#section1-bg {
    background: var(--very-light-gray);
    height: 440px;
}

.section1 {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 10px 5px;
    height: 100%;
}

.s1-d1 {
    max-width: 40%;
    margin-top: 30px;
}

.s1-d1 h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--dark-blue);
    margin-bottom: 10px;
}

.s1-d1 p {
    margin-bottom: 10px;
}

.img-bg-s1 {
    position: absolute;
    width: 640px;
    height: 650px;
    top: -25%;
    left: 57%;
}

.img-celular {
    position: absolute;
    left: 64%;
    top: -20%;
    width: 500px;
    height: 650px;
    z-index: 1;
}

div#section2-bg {
    background: var(--light-grayish-blue);
    padding: 30px 0;
}

.section2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 5px;
}

.section2 h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.section2 > p {
    margin-bottom: 20px;
}

.s2-container-items {
    display: flex;
    flex-wrap: wrap;
}

.s2-item {
    flex: 1 1 250px;
    margin: 10px;
    border: 1px solid red;
}

.s2-item img, .s2-item h3, .s2-item p {
    padding: 15px 0;
}

.s2-item h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--dark-blue);
}

div#section3-bg {
    background-color: var(--very-light-gray);
    padding: 30px 0;
}

.section3 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 5px;
}

.section3 h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.section3 > p {
    margin-bottom: 20px;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
}

.art-item {
    flex: 1 1 250px;
    margin: 10px;
    border: 1px solid red;
    border-radius: 7px;
    background: var(--white);
}

.articles-container article:last-child {
    margin-right: 0;
}

.art-item img {
    width: 100%;
    height: 40%;
    border-radius: 7px 7px 0 0;
}

.art-content {
    padding: 25px;
    padding-bottom: 0;
}

.art-content p, .art-content h3 {
    margin: 10px 0;
}

.art-content p {
    margin-bottom: 0;
}

.art-autor {
    font-size: 0.8rem;
    font-style: italic;
}

.art-content h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--dark-blue);
}

.art-content h3:hover {
    color: var(--lime-green);
}

.footer {
    background: var(--dark-blue);
    padding: 30px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-medias ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
}

.social-medias ul li {
    padding: 5px;
}

.social-medias ul li a {
    padding: 10px;
}

.footer-menu ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.footer-menu ul li {
    padding: 10px;
}

.footer-menu ul li a {
    padding: 10px;
}

.footer-menu ul li a:hover {
    color: var(--lime-green);
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register button {
    width: 160px;
    align-self: flex-end;
}



